<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ANZ Typography Validation Suite"
       verbose="2"
       thread-count="3"
       parallel="tests">

    <test name="Typography Validation">
        <classes>
            <class name="com.anz.typography.tests.TypographyValidationTest"/>
        </classes>
    </test>

</suite>